body {
    font-family: 'ff-tisa-sans-web-pro', serif;
    border-top: 4px solid #6C307D;
}

a {
	color: #6C307D;
}

a:hover {
	color: #860278;
}

header {
  background-color: #fff;
  padding: 50px 0;
}

header h1 {
  font-size: 80px;
}

header h1 em {
  background: #000;
  color: #fff;
}

header h2 {
  font-size: 40px;
}

header h2 em {
  color: #6C307D;
}

header p {
	font-size: 1.5em;
	margin-top: 30px;
}

.navbar {
  border-radius: 0;
}

.navbar .navbar-nav > li > a {
  text-transform: uppercase;
}

.navbar .navbar-brand {
  font-family: 'ff-tisa-web-pro', serif;
  font-weight: bold;
  color: #6C307D;
  font-size: 50px;
}

#logo {
	height: 250px;
	margin: 50px 0;
}

main {
	margin: 30px 0;
	padding: 30px 0;
	font-family: 'ff-tisa-sans-web-pro', sans-serif;
	font-size: 1.1em;
	line-height: 1.3em;
}

main .row {
	margin-top: 30px;
}

main h1 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	color: #222;
}

main p {
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: left;

	color: #222;
	padding-top: 10px;
	font-size: 18px;
	line-height: 28px;
}

pre {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 100px #C3ABCA;
  border-radius: 0;
  padding: 1px;
}

footer {
	min-height: 60px;
	font-size: 14px;
	color: #666;
	text-align: center;
  background: #fafafa;
}

footer p {
	margin-top: 20px;
}

footer p em {
	float: right;
}

button.btn-default[type="button"] {
  border-radius: 3px;
  background: #6C307D;
  color: #fff;
  box-shadow: 0 0 100px #C3ABCA;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  position: absolute;
}
