body {
    font-family: 'ff-tisa-sans-web-pro', serif;
}

a {
	color: #6C307D;
}

a:hover {
	color: #860278;
}

header {
  background-color: #fff;
}

.masthead {
  padding-top: 150px;
  padding-bottom: 0px;
}
header h1 {
  font-size: 65px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

header h1 span {
  font-size: 80px;
  text-transform: uppercase;
  border: 7px solid #333;
  display: inline-block;
  margin-left: -35px;
  margin-top: 0;
  padding: 23px;
  color: #333;
}

header h2 {
  font-size: 40px;
}

header h2 em {
  color: #6C307D;
  font-weight: bold;
}

header p {
	font-size: 1.5em;
	margin-top: 30px;
}

.navbar {
  border-radius: 0;
  border-top: 4px solid #6C307D;
  padding: 10px 0 15px 0;
}

.navbar .navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}

.navbar .navbar-brand {
  font-family: 'ff-tisa-sans-web-pro', serif;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}

.navbar .navbar-brand img {
  height: 25px;
  margin-top: -5px;
  display: inline-block;
}

#logo {
	height: 250px;
	margin: 50px 0;
}

.feat {
  background: #eee;
  text-align: center;
  padding-bottom: 60px;
  font-size: 1.6rem;
}

.feat h3 {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
}

.featimg {
  display: block;
  margin: 40px auto;
}

main {
	margin: 30px 0;
	padding: 30px 0;
	font-family: 'ff-tisa-sans-web-pro', sans-serif;
	font-size: 1.1em;
	line-height: 1.3em;
}

main .row {
	margin-top: 30px;
}

main h1 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	color: #222;
}

main p {
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: left;

	color: #222;
	padding-top: 10px;
	font-size: 18px;
	line-height: 28px;
}

pre {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 100px #C3ABCA;
  border-radius: 0;
  padding: 1px;
}

footer {
	min-height: 60px;
	font-size: 14px;
	color: #666;
	text-align: center;
  background: #fafafa;
}

footer p {
	margin-top: 20px;
}

footer p em {
	float: right;
}

button.btn-default[type="button"] {
  border-radius: 3px;
  background: #6C307D;
  color: #fff;
  box-shadow: 0 0 100px #C3ABCA;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  position: absolute;
}

#viz {
  margin-top: 40px;
}

#viz td {
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}

.bubble {
  margin: auto auto;
  border-radius: 100%;
  transition: all 1s ease;
}

.bubble.off {
  height: 0;
  width: 0;
  background: #fff;
}

.bubble.on {
  height: 20px;
  width: 20px;
  background: #ddd;
}

.bubble.wink {
  height: 20px;
  width: 20px;
  background: #6C307D;
}
